<div class="container-card card-closeable">
  <div class="close">x</div>
  <h3>Four things to know before taking the test:</h3>
  <ul>
    <li>Takes 12 minutes, max. Time it!</li>
    <li>For utmost accuracy, take a stance by answering “Agree” or “Disagree”</li>
    <li>Remember the model - “Trust through transparency.” Be as honest as possible when answering.</li>
    <li>Go with your instinct. If there are two voices on your shoulder, go with the one that speaks first!</li>
  </ul>
</div>

<script type="text/javascript">
  // TODO: set style on
  // class="progress-bar progress-bar-striped active" style="width: 5%"
  $('.close').click(function(){
    $('.card-closeable').fadeOut();
  })
</script>
