<div class="sub-menu">
  <h3>Whew! Finished!</h3>
</div>
<div class="container container-card">
  <h2>Your Personality:</h2>
  <div class="avatar-holder">
    <h1><%= current_user.personality.name %>&nbsp;(<%= current_user.personality.code %>)</h1>
    <p>this is a short description explaining what the above personality type means.</p>
  </div>
  <%= link_to 'Retake Assessment', restart_assessment_path, class: 'button btn-standard', data: { confirm: 'Are you sure? This will completely remove your existing assessment and you will not be able to use the site until you complete the new one!' } %>
  <p>-or-</p>
  <%= link_to 'Home', root_path, class: 'button btn-alternate' %>
</div>
