  <div class="container-card split-cards incomplete" id="incompleteCoreInfo">
    <div class="upper-check uh-oh"><span class="glyphicon glyphicon-question-sign"></span></div>
    <div class="header-section" id='header'>
      Profile Information
    </div>

    <div class="card-icon-large"><span class='glyphicon glyphicon-user'></span></div>
    <div class="logo-caption">please tell us a little more about yourself!</div>
  </div>

<script type="text/javascript">
  $('#incompleteCoreInfo').click(function(){
    window.location.href = "<%= escape_javascript core_info_url%>"
  })
</script>
