  <div class="container-card split-cards" id="incompleteCoreInfo">
    <div class="upper-check uh-oh"><span class="glyphicon glyphicon-question-sign"></span></div>
    <div class="card-icon-large"><span class='glyphicon glyphicon-tasks'></span></div>
    <div class="logo-caption">Lets get to know you!</div>
  </div>

<script type="text/javascript">
  $('#incompleteCoreInfo').click(function(){
    window.location.href = "#<%#= escape_javascript assessment_url%>"
  })
</script>
