  <div class="container-card split-cards complete">
    <div class="upper-check"><span class="glyphicon glyphicon-ok-circle"></span></div>
    <div class="company-logo">
      <%= image_tag current_user.company.logo.url(:thumb) %>
    </div>
    <div class="logo-caption">Profile Setup Complete!</div>
  </div>
