  <div class="container-card split-cards complete">
    <div class="upper-check"><span class="glyphicon glyphicon-ok-circle"></span></div>
    <div class="header-section" id='header'>
      Profile Setup
    </div>
    <div class="card-icon-large"><span class='glyphicon glyphicon-user'></span></div>
    <div class="logo-caption">complete!</div>
  </div>
