
<div class="container container-card no-header">
  <div class="home-styles">
    <div class="title-holder">
      <h5>March 1, 2018</h5>
      <h1>Thank you for signing up!</h1>
    </div>
    <div class="home-logo">
      <%= image_tag 'brand-text.png' %>
    </div>
    <div class="blog-content">
      <p>
        If you are reading this, it is not too late. You are just on time.
        The unboXt team is extremely grateful you have decided to take this journey
        with us. We are new, young and unorthodox and we have an alluring story to tell.
        And if you have not noticed, you are the hero of this tale.
        How you landed on this portal does not matter. What does matter is our
        commitment to being there with you during your search for work life integration.
        We will allow and help you to discover who you are, embrace your unique
        <span style="color:#D00020;">X</span> factor and saunter (or dance) through life.
      </p>
      <h3>The Problem</h3>
      <ul>
        <li>Retention is extremely expensive.</li>
        <li>Employees feel undervalued at work.</li>
        <li>Companies cannot retain new-age talent.</li>
        <li>Recruiting is hard, resumes make it harder.</li>
        <li>Companies &amp; Candidates, alike struggle to define and achieve “fit.”</li>
      </ul>
      <h3>Who is unbo<span style="color:#4774B3;">X</span>t</h3>
      <p>
        unbo<span style="color:#94c77d;">X</span>t has a simple vision, “
        <span style="color:#94c77d;">to</span>
        <span style="color:#fc0006;">enrich</span>
        <span style="color:#b7b7b9;">lives</span>
        <span style="color:#f0c434;">by</span>
        <span style="color:#0000ff;">aligning</span>
        <span style="color:#94c77d;">passions,</span>
        <span style="color:#fc0006;">interests,</span>
        <span style="color:#0000ff;">desires,</span>
        <span style="color:#f0c434;">and</span>
        <span style="color:#fc0006;">needs</span>” Our slogan is Trust Transparency. Trust is possibly the most intimate
        and profound word in the English language. Transparency is possibly the
        most obscure. Trust takes time, and can only be built and maintained if
        all parties involved are transparent with one another. We believe that
        by building trust through transparency we can help everyone find a job
        they have passion in. But first, we will ensure everyone works within a
        team and company they enjoy. We believe this is possible and strive to prove it!
      </p>
      <p>
        Ahh and I almost forgot...we are going to destroy this idea of work /
        life balance. It’s highly implausible and illogical. Not to mention,
        has a deathly undertone. Imagine everytime you walk into work, you clock
        in by pressing pause on your life, before resuming life when you walk
        out. This has become the professional norm. It is no wonder people
        continue to believe the graveyard is the wealthiest place on earth.
        Now...more about us. After this, it’s all about you. Pinky promise.
        Our internal company values, are as follows:
      </p>
      <div class="values">
        <h4>Trust Transparency</h4>
        <p>
          Simple, tell and be the truth. Always be honest with the customer, with your team, and most importantly, with yourself.
        </p>

        <h4>Customer Obsession</h4>
        <p>
          Always be a leader. Leaders start with the customer and work backwards. The leader works vigorously to earn and keep customer trust. Although leaders are aware of competitors, they obsess over customers.
        </p>
        <h4>Curiosity</h4>
        <p>
          Always ask questions. Be confident in what you know, but seek to understand what you do not.
        </p>
        <h4>Stay in Lane</h4>
        <p>
          Being first, is not the same as being right. Being right, is being effective. “Right” is being true to yourself and remaining true to the company’s values and vision.
        </p>
        <h4>Drive Results</h4>
        <p>Results are what matter. Do not settle for good enough. </p>
        <h4>Be Open</h4>
        <p>
          Be open and respectful to new experiences, ideas, people and cultures. Find comfort in being uncomfortable.
        </p>
        <h4>Try New Things</h4>
        <p>
          Strive to trust your instincts and both voices on your shoulders. Leaders are okay being wrong or misunderstood for long periods of time. Remember, overnight success takes 5-7 years.
        </p>
        <h4>Community Committed</h4>
        <p>
          We will remain committed to all communities. We will serve the community as we scale up.
        </p>
      </div>
      <br>
      <p>
        We will continue to perfect our algorithm and service. Technology will
        continue to allow us to work efficiently through scale, while the service will
        ensure we are effective in our delivery. We will always allow companies and
        candidates alike to authenticate and tell their personal tales.
      </p>
      <br>
      <h5>Be cool,</h5>
      <br>
      <%= image_tag 'signature.png', width: '180px' %>
      <br>
      <h5>Hakeem Isaac,</h5>
      <h5>Founder unbo<span style="color:#4774B3;">X</span>t, Inc.</h5>
    </div>

  </div>
</div>
