<div class="unboxed-header">
  <h3>So Close! Would you give us a little more?</h3>
</div>
<%if current_user.recruiter? %>
  <%=render partial: "recruiter_progress"%>
<%else%>
  <%=render partial: "candidate_progress"%>
<%end%>
