<div class="sub-menu">
  <h3>So Close! Would you give us a little more?</h3>
</div>
<div class="container">
  <%if current_user.recruiter? %>
  <%=render partial: "recruiter_progress"%>
  <%else%>
  <%=render partial: "candidate_progress"%>
  <%end%>
</div>
