<div class="sub-menu">
  <h3>So Close! Would you give us a little more?</h3>
</div>
<div class="container extra-top-margin">
  <% if current_user.personality %>
    <%= render partial: 'assessment_complete' %>
  <% else %>
    <%= render partial: 'no_assessment' %>
  <% end %>
  <% if current_user.valid? %>
    <%= render partial: 'valid_profile' %>
  <% else %>
    <%= render partial: 'invalid_profile' %>
  <% end %>
</div>
