<div class="modal fade" id="dropLineModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="close-x" data-dismiss="modal" aria-label="Close">&Cross;</div>
        <div class="body-content">
          <%= image_tag 'brand-text.png', class: 'drop-line-logo' %>
          We'd love to get to know your organization!
          <a href="mailto:getunboxt@getunboxt.com?Subject=Partner%20with%20unboXt">Drop us a line</a>, and we'll help you start posting jobs on the site.
        </div>
      </div><!-- /.modal-body -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
