<div class="sub-menu">
  <h3>new company</h3>
</div>
<div class="container container-card no-overflow">

  <%= render 'form', competency: @competency %>

  <%= link_to 'Show', admin_competency_path(@competency) %> |
  <%= link_to 'Back', admin_competencies_path %>
</div>
