<div class="sub-menu navigation">
  <ul>
    <% connection_sub_links(current_user).each do |name, attributes| %>
      <li> <%= link_to name, attributes[0], class: attributes[1] %></li>
    <% end %>
  </ul>
</div>
<div class="container container-card">
  <div class="header-bar">
    <h1 style="display:inline;">connections</h1>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">candidate</th>
      </tr>
    </thead>

    <tbody>
      <% @connections.each do |connection| %>
        <tr>
          <td><%= connection.type.humanize %></td>
          <td><%= connection.candidate.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
