<div class="sub-menu navigation">
  <ul>
    <% connection_sub_links(current_user).each do |name, attributes| %>
      <li> <%= link_to name, attributes[0], class: attributes[1] %></li>
    <% end %>
  </ul>
</div>
<% if current_user.candidate? || current_user.unvetted_matcher? %>
  <div class="vetted-unvetted-toggle">
    <ul>
      <% vetted_unvetted_sub_links(current_user).each do |name, attributes| %>
      <li> <%= link_to name, attributes[0], class: attributes[1] %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="container container-card no-overflow">
  <%= render partial: 'connection_content_section' %>
</div>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="close-x" data-dismiss="modal" aria-label="Close">&Cross;</div>
        stuff
      </div><!-- /.modal-body -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
