<div class="container admin-container">
  <%= link_to 'Manage Traits', admin_traits_path, class: 'btn btn-primary' %>&nbsp;
  <%= link_to 'Manage Companies', admin_companies_path, class: 'btn btn-primary' %>
</div>
