The Engineer (INSO)
Strengths
<ul>
  <li>
    <em>Rapid, Creative and Logical</em> - The Engineer personality type
    could be characterized as a technical assassin - they are extremely
    methodical, nimble and lasered focused on the larger vision. With
    honesty and logic at the cornerstone of their personalities, they strive
    to take pride in all their deliverables. The Engineers ability to analyze
    and project future outcomes makes them a strong addition to any
    team.
  </li>
  <li>
    <em>Confident</em> – Self confidence, it’s innate! The Engineer is numb to
    criticism because of their ability to rationalize and plan during the
    initial stages of a project. This gives them extreme confidence with
    the output. Why second guess, what you have already worked through
    5 times?!
  </li>
  <li>
    <em>Autonomous &amp; Resolute</em> - With logic, high self esteem, and a
    dreamers heart, the Engineer often enjoys being independent - in
    work/life, life/life and love/life. The Engineer will speak out against
    anyone and anything who attempts to validate an idea with a faulty,
    unsubstantiated premise.
  </li>
  <li>
    <em>Self Motivated</em> - Gathering knowledge and/or intelligence is cool,
    but it’s ineffective and incomplete. The Engineer possesses the ability
    to dream and execute on those dreams with intense focus and
    precision. Due to their nature, they are thought of as organized and
    efficient therefore the slightest hint of redundancy leads to the
    overdrive of figuring out something new.
  </li>
  <li>
    <em>Receptive</em> - Openness is the prerequisite for success. The Engineer
    values the opinions of others because they understand these inputs
    are paramount to their own ventures.
  </li>
  <li>
    <em>Balanced</em> - The Engineer is able to balance opposing traits to their
    strength. Their meticulousness allows them to take intricate ideas or
    products and break them down to their rudimentary parts. From
    here, they will rebuild the product to be more efficient and effective.
    Weaknesses
  </li>
  <li>
    <em>Self Importance</em> - Baby narcissist, maybe? But who can blame the
    next Steve Jobs? This can always be toned down but this plays a
    major part in their confidence.
  </li>
  <li>
    <em>Over Critical</em> - If the Engineer didn’t judge then who would? Let’s
    think about it this way — judgement, for this instance, brings
    questions, questions bring answers and answers lead to
    understanding.
  </li>
</ul>

● Over Critical –If the Engineer didn’t judge then who would? Let’s
think about it this way — judgement, for this instance, brings
questions, questions bring answers and answers lead to
understanding.
● Too Detailed – Have you ever heard anyone say, “don’t sweat the
small stuff ?” Well for an Engineer this may creep up in their life.
They often become consumed with granular details, thus over
analyzing information.
● No Structure – Structure, please go away. While great minds may
think alike they do not get to a idea the same way! Engineers dispise
structured environments and rather indulge in their unique and
creative ways.
● Not your Casanova – As smart as they are, something like
emotions would be lacking. Sadly Engineers struggle with romance as
they look at everything logically instead of emotionally.

The Philosopher (INSA)

The Philosopher STRENGTHS AND WEAKNESSES
Strengths
● Great Scholars – Thinking outside of the box allows the
Philosopher to understand complex issues. It’s because of this we
have theories like Euler’s. They can find connected traits in
completely different taxonomies.
● Creative and Innovative– The Philosopher’s rough ideas often
leave others wondering “what the heck are they talking about.” At
first glance these ideas can seem abstract and weird, however after
further examination the ideas are as valuable as the internet.
● Permeable– Have you ever heard it’s the person that understands
they do not know everything just so happens to be one of the
smartest? With an open mind, heart and ear, the Philosopher is able
to continue to learn and develop to be the wonderful, creative,
disruptive people they are.
● Super Excited (Exciteable) – One kid in a candy store! That
explains the excitement the Philosopher has when something piques
their interest. While excited, they can be seen staring into space but
their insides jumping off walls.
● Cut to the Chase – “You can’t handle the truth!” The Philosopher
honors themselves on the truth that they so graciously give. Although
it can be interpreted the wrong way, it is more important for the
Philosophers to be honest 100% of the time.
Weaknesses
● Taciturn – We stated the Philosopher can become very excited, but
we also said during that time most of them are in their own world.
The Philosopher can often come off as withdrawn or standoffish as
they become indulged in their ideas.

● Thick-Skinned – Simply put, what’s right is right. And oftentimes
people really don’t want the truth. The Philosopher values logic and
piercing honesty, often neglecting the listeners feelings when
speaking.
● Distrait – Imagine this, the Philosopher is at their own birthday
party and boom! They finally find a solution to that problem they
were trying to solve; Party over! The Philosopher will quickly become
detached and focus on what has captured them.
● Snobbish – When trying to explain concepts, the Philosopher often
becomes frustrated when the other person doesn’t understand after
the first explanation. They hate simplifying an idea for the “common
man.”
● Rules exist? – We stated they’d get to the answer, but we didn’t say
how. The Philosopher does not like rules or guidelines. Their creative
minds just do not and will not be objectified to others boX.

The Chief (ENSO)

The Chief STRENGTHS AND WEAKNESSES
STRENGTHS
● Systematic – The goal oriented Chief values time therefore
anything other than efficiency annoys them. They believe that any
step taken that does not positively affect their goal is a huge waste.
● Excitement – When the Chief becomes excited, everyone will know.
Their excitement protruding from their body is a noticeable as the
aroma from the candy apple store. There is no missing it!
● Confident – Chiefs are very confident people. They trust and believe
in themselves so much they can be perceived as arrogant.
● Commit – “If there is a will, there is a way.” The Chief has very
strong convictions in commitment and will always put up a fight for
what they believe.
● Methodical – Playing a game of Goldfish is no longer fun with the
Chief as everything is completed strategically. They see no other way
and can come up with a conclusion or answer to a question at the
drop of a dime. Quick on their feet, their mind is several steps ahead
of their peers.
● Charming – While the Chief has the words of a poet they inspire,
motivate, and follow, often making them the Transformational
Leader.
Weaknesses
● Hard-Headed – The “S” on the Chief’s chest stands for “stubborn.”
A simple conversation regarding the color of the sky can turn into a
heated debate. This can be interpreted as misplaced passion.
● Particular Taste– When dealing with a Chief there is little wiggle
room for new ideas. They like things done their way or else it’s the
highway. Although the Chief has the ability open up to new ideas, this
only occurs if the proposed idea is a better idea than the Chiefs’.
Chances? Highly improbable.
● Lack of Patience – What did the Ketchup, say to the Mustard? If
there is one thing the Chief can work on, it’s their patience. The Chief
believes the world should operate at their pace, and when it does not,

the Chief does not slow down, but instead does like the Ketchup by
telling the world to “Ketch up.”
● Conceited – The Chief looks down on those who can&#39;t tango in the
ring with them. The Chief is very quick on their feet and would prefer
to engage with an equal.
● Lack of Emotions – One smart cookie, but it’s definitely not soft.
The Chief lacks in showing their emotions and comes off ruthless.
They have a lot of work to do in this department as they can hurt
many including loved ones.

The Raconteur (ENSA)

The Raconteur STRENGTHS AND WEAKNESSES
Strengths
● Scholarly – Learning is not a chore for the Raconteur, yet, it is a
hobby. The Raconteur feels the necessity to learn at least one new
thing a day.
● Transfer Learning – The Raconteur has the ability to think quick
on or off their feet. They are able to leverage the immeasurable
amounts of knowledge they’ve acquired over the years. They are
masters at using transferable learning to understand new ideas.
● Unique –The Raconteur is all about originality especially when
solving problems. They love to stand out and let their creativity flow
with little regard to existing methods. To put things into perspective,
they are as original as the kernel’s recipe.
● Brainiac – Being unique and knowledgeable has its perks. For the
Raconteur, they are awesome at analyzing problems and formulating
ideas. Thinking for them, is as natural as breathing.
● Charismatic –The Raconteur has a knack for words. People are very
interested in hearing them talk as they have a way with verbally
conveying their ideas.
● Energizer Bunny – The Raconteur is full of life! It’s amazing at
how much energy they possess. It’s a known fact that when anyone
interacts with a Raconteur they leave energized, too.
Weaknesses
● Debater – The Raconteur is known to be Argumentative, which can
lead to tension with other people. Very seldomly do they find a worthy
opponent to go tick for tack with or that simply enjoys the debate.

● Rude – Charismatic, yes! A tad rude! Possibly. The Raconteur can be
too rational for their own good. When it comes to understanding
others feelings and responding accordingly they can be viewed as
mean. The Raconteur has yet to figure out how to stay loyal to their
logic, while not making others feel emotionally insecure.
● Acute – Coming with complete information and details are a must
when dealing with the Raconteur. Unless people are able to back up
their ideas this conversation will end quickly.
● Boredom – When boredom strikes please note that the Raconteur
is no longer in the building. They may indeed be standing right in
front of you, but their minds are in another zipcode.
● Day-to- Day is Horrific –Participating in day-to- day functions
aren’t as appealing to the Raconteur as they may seem. In fact, they
would much rather understand and solve problems about various
theories.

The Crusader (INMO)
The Crusader STRENGTHS AND WEAKNESSES
Strengths
● Innovative – Creative in their own way, the Crusader often finds
themselves solving problems that involve humans and emotions
through advising and or counseling. They enjoy helping people work
through their personal problems.
● Intuitive –The Crusader can see you coming a mile away! They are
able to spot malicious motives and plain liars. The Crusader will
attempt to have a honest dialogue. There is nothing to fret as long as
the other party drops the car salesman mentality.
● Influential – Needless to say, but the Crusader filled with passion
can be an unstoppable speaker. They are able to reach the masses
whether that be written or verbal communication.
● Conclusive – With their love to help and creativity to solve an issue,
the Crusader uses their decisiveness to complete the activity at hand.
● Strong Willed – The strong willed Crusader can be very passionate
when something piques their interest. Attempting to separate a
Crusader from something they are passionate about is next to
impossible.
● Selfless – The Crusader is a proponent of all things good and right.
Although “good” and “right” can be subjective, once the Crusader has
defined theirs, they will go to extreme lengths to do what is right for
the world.
Weaknesses
● Delicate – The Crusader who is looking to make a change can be
slowed down due to their sensitivity. The Crusader is a very sensitive
person who often reacts to criticism unproductively.

● Private People – The Crusader tends to keep to themselves about
personal matters, allowing in only a select few. While Crusaders do
well with existing relationships, they can be overly skeptical of new
acquaintances motives.
● Idealist – “The grass isn’t always greener on the other side.” The
Crusader may miss out on opportunities believing there is something
better.
● Understanding –The Crusader needs to understand every aspect of
a situation, which can be awesome, but getting bogged down with the
minutia often leads to restlessness.
● Exhausted – The Crusader has a tendency to exhaust themselves in
their pursuit of perfection. While shooting for perfection is always
laudable it leaves less time to be human.

The Peacemaker (INMA)
The Peacemaker STRENGTHS AND WEAKNESSES
Strengths
● Peace– The Peacemaker...well, their name says it all. They believe
that all people possess good and are misunderstood. Although some
will believe Peacemakers are misplacing their trust, the Peacemaker
would respond “who is to determine who deserves trust?”
● Love &amp; Peace– The Peacemaker has no interest in authority, but
instead desire for all parties to be fairly treated and respected.
● Open – An awesome characteristic of the Peacemaker is how nimble
they are. They are open and willing to suggestions as long as their
core values aren’t being challenged.
● Original –The Peacemaker combines their love for peace and no
man left behind attitude to create beautiful art. In fact, most
Peacemakers are poets.
● Impassioned –When something piques the mind and heart of the
Peacemaker there is no turning them around. The passion and energy
that they have begins to pour out faster than a broken fire hydrant.
● Dedicated – The Peacemaker has intense focus - while others sleep,
the Peacemaker’s work, while others are slowing down, the
Peacemaker is barely warming up, and while others quit, the
Peacemaker saunters the road to success. When the Peacemaker
begins a task, mission or goal, the only option is the realization.
Weaknesses
● Unrealistic Expectations – While there are immeasurable
amounts of good humans in the world, there are also those who
choose the pathways to evil. The Peacemaker is often so idealistic that
they can be naive in thinking all are good. This delusion opens the
Peacemaker up for being taken advantage of.

● Too Selfless – The selfless Peacemaker seems to always forget about
one person -- themselves. Neglecting themselves and sometimes
family they get carried away in their pursuit of saving the world.

● Sweating the Small Stuff – Although the adage goes, “don’t sweat
the small stuff.” Being aware of the small stuff and having the
appreciation and understanding that big stuff is an amalgamation of
smaller more rudimentary things. The Peacemaker is so focused on
the house that they forget the cement.
● Sensitive – The Peacemaker is extremely sensitive to the criticisms
of others. The Peacemaker is all about compromising for the greater
good, I believe they call it utilitarianism. Compromise is cool, but
change does not come without constructive confrontation.
● To Themselves – The Peacemaker has a heart of gold, that is as
light as a feather. Their one true aspiration is to assist others in
becoming their best selves. Unfortunately because the Peacemaker is
extremely private, they are able to give love, but struggle receiving it.

The Principal (ENMO)

The Principal STRENGTHS AND WEAKNESSES
Strengths
● Great Listeners – The Principal is the epitome of a team player!
They are great listeners and make sure that everyone&#39;s voice is heard.
They understand the meaning of “I do not know everything.”
● Dependable –The Principal is the person you can call when you
have a flat tire at 3am. Or when you are hard on luck and need
someone to come and rescue you. The Principal is the most
dependable person in the friend group.
● Captivating – The Principal is malleable to most social situations.
They can easily adapt their personality to fit the setting. This should
not be construed as inauthentic, fore the Principal maintains their
voice, they simply change their tone.
● Born to Lead – The Principal follows the transformational
leadership framework. They seek to make everyone around them
better, because they understand the value of the team is dramatically
improved by strengthening of each part.
Weaknesses
● Selfless Taken to Far – The Principal like other altruistic
personality types end up feeling drained because they have filled
everyone else’s glass, at the expense of their own. There is only so
much weight a bridge can take before it breaks. The Principal takes on
their friends problems as their own, which leaves them burdened.
● No Ones Perfect – The Principal spends so much of their time
attempting to encourage others to live their best lives and forget they
could use the same encouragement and feedback. Often the Principal
spends more time critiquing and not nearly enough time being

critiqued. What’s peculiar is the Principal struggles with the
insecurities of how their work and outputs are being perceived. While
they will ask for feedback, it’s not rooted in confidence but rather,
diffidence.
● Tough Decisions are Tough – While the Principal is very capable
of making decisions, due to a lack of confidence and the gravity of the
issues Principals are attempting to solve, they can momentarily be
paralyzed with the fear of making the wrong choice.

The Activist (ENMA)
The Activist STRENGTHS AND WEAKNESSES
Strengths
● Lives Life with a Lifestyle Worth Living– The agog Activist
enjoys experiencing and embarking on new journeys. The Activist is
full of curiosity and imagination. “Comfort zone” is not a phrase that
they accept, perhaps, “YOLO” or “live life without regrets,” is.
● Sharp Eye – The Activist is always aware! The Activist understands
that every detail counts, therefore they are sure to not miss a
moment. The Activist is lucky to have eyes on the backs and sides of
their heads - seldomly being caught off guard.
● Excitable – The Activist wears their excitement on their sleeve like
it’s the new fashion. They are not afraid of sharing their latest
discoveries with others, in fact they will not waste time waiting for
you to ask.
● Conversationalist – The Activist is well poised in small talk, large
talk or political talk, and anything in between. The Activist has
awesome speaking skills and has the ability to have a conversation
about practically anything. These good communicators have a way of
taking control of any conversation.
● Social Ambiguity – The Activist has the ability to switch from being
the conversationalist to being the high-flying base jumper to watching
Netflix and chilling. The Activist is just a joy to be around. This is
probably why the Activist can have a real circus of friends.
Weaknesses
● Loathe Day-to- Day Task – For the Activist, the hardest thing for
them to keep up with are day-to- day task. They often struggle with
administrative task as they are more concerned with the bigger
picture.

● Focusing is Hard – Between the excitement and thrill of all that is
possible in the world, the Activist can find it difficult to concentrate
on mundane task. In one moment they can be excited about setting a
new goal, and in the next exhausted from the thought of executing.
● Sweating the Small Stuff – Sweating the little stuff would run
anybody ragged, but for the Activist they seem to get overwhelmed a
little more than others. The emotional Activist is often torn in tense
situations because of their desire to be the friend to all friends.
● Intune – While it is awesome to be intune with your emotions, the
Activist can be overly emotional, which can come out the wrong way.
The Activist can become overwhelmed with their emotions often
making outburst, which can leave those surrounding confused and
uncomfortable.
● Lawless – Activist desire to be seen as self-dependant. The goal is
not necessarily for others to respect their independence, but rather,
for others to not try and boX them into their laws and rubrics of how
to conduct their lives.

The Referee (IVSO)
The Referee STRENGTHS AND WEAKNESSES
Strengths
● Integritous – “ I swear to tell the truth, the whole truth and nothing
but the truth...” The Referee has no interest in telling lies! They’d
rather be honest and continue on with their day.
● Focused – The Referee sticks to their whistle by standing behind
their decisions, which is guided by their morals. The Referee is
patient and determined, which translates to, they are strapped in
even if the seat belt snaps.
● Reliable People – The Referee is an awesome person to have a
relationship with. They mean what they say and keep to their
promises. The Referee makes an ideal employee or boss, because of
their commitment to their duties and responsibilities.
● Calm, Cool, and Collected– Have you heard of a Referee losing
their cool? Well maybe you have, but it doesn’t happen too often. The
Referee is always calm, cool, and collected. It is only a few times you
may see them blow a gasket and typically this would be at the fault of
the other person.
● Rules, Rule - There are rules to every game and the Referee will
make sure everyone abides by them. In the eyes of the Referee, rules
help with accountability and accountability proceeds structure and
structure begets results.

Weaknesses
● Headstrong – Unfortunately everyone is wrong at some point, but
the stubborn Referee doesn’t accept being wrong well. The irony is
the Referee’s core principals would be honesty and integrity.
However, the proponent of truth cannot handle the truth when it is
directed at them.
● Too Truthful– The Referee elevates truth above emotion. This
commitment to fact can cause others to interpret the Referee

personality type as rude and pedant. While they are not mean
creatures by nature they can certainly be perceived as such.
● It’s in the Book – Rules rule! Rules govern everything for the
Referee and they will not see it any other way which can make them
narrow and uncreative.
● Censorious – The Referee judges a book by its cover. As it is not
the most efficient way of going about things, it is the safest.
● The Blame Game – Due to their understanding of rules and work
ethic they often blame themselves when things do not go right.
Carrying the weight of everyone’s mistakes can be burdensome and
unfair to self.

The Protector (IVMO)
The Protector STRENGTHS AND WEAKNESSES
Strengths
● Helpful – The Protector is one of the most supportive people to
have in your life. They live for helping others with little
discrimination on whom they help.
● Get’er Done –The Protector has a “get things done attitude” and
often goes beyond what is needed for satisfactory work. They will
produce high quality work and ensure all stakeholders expectations
are exceeded.
● Learning through Others – The Protector uses their sensory skills
to relate, empathize and help solve their friends and family’s
problems. The goal is not only to help their associates, but perhaps
more importantly to learn from others actions and inactions. This is
not only intriguing but is used as a source of inspiration.
● Dedicated – The loyal Protector will often become attached to what
they are working on, when this happens the rest of the world is faded
out. This holds especially true when the Protector believes the
outcome could positively affect huge masses of people.
● Doers of the Necessary – The Protector is unique from the other
bigger picture, save the world types because of the Protector’s ability
to remain focused even through the dreary and mundane tasks
needed to realize the goal.
Weaknesses
● Modest – It is commendable to have a personality type that is
comfortable being the unsung hero. However, although the Protector
is right for putting the mission above self-interest, they should take
the time to celebrate their wins and contributions. Or else they will be
forgotten, or worse, unnoticed.

● Emotional – The Protector believes there is no distinction between
business and personal, because another human is always involved.
This emotional attachment causes the Protector to internalize and
carry business to their personal lives.
● Feelings are Hidden – The Protector does such a great job
guarding others, they figure why not guard their own emotions while
at it. This internalizing can become extremely unhealthy and causes
the Protector to become consumed with anxiety.
● No Room for Change –Tradition and customs transcend personal
artistic expression. The Protector can become acute to others
opinions if they deviate from the norm.

The CEO (EVSO)
The CEO STRENGTHS AND WEAKNESSES
Strengths
● Committed – With a name like the CEO they have no option but to
be steadfast. The CEO is one of the best personality types to work
with because they commit to completing any task they start, as long
as, the mission is not lost. The CEO will only operate within their
moral compass, no morals, no CEO.
● True and Dependable – The CEO holds true to their word. There
is no need for a reminder as the CEO will always deliver.
● No Chaos – CEO’s believe in order and they do not believe there is
any other way around it.
● In Order – Accompanying their patience and need for order they are
also great organizers. If you leave a CEO in an unorganized house
9/10 times they’ll end up fixing the chaos.
Weaknesses
● Stubborn – The CEO becomes so stuck on what already works they
miss what could be next.
● Things Happen– Although the CEO is organized there are issues
they cannot predict . When things appear to be going weary the CEO
starts to panic. They believe that if their pre-existing methods were
not good enough they were not a great leader.
● Multiple Answers – CEO’s have their own beliefs on how things
should work. So, when there is an alternative solution they are not too
fond.
● A Tad Shallow–The CEO can focus too much on others needs and
in turn neglect themselves.
● No Time to Relax – Relaxing is not something the CEO
understands because they are so focused on finishing the project at
hand.
● Lack of Emotions – One of biggest issues the CEO deals with are
expressing emotions. They become so caught up in facts and gettings
things done they often forget the human element.

The Diplomat (EVMO)
The Diplomat STRENGTHS AND WEAKNESSES
Strengths
● Leaders – The Diplomat is the sensible leader. They do well in
environments where they are managing a routine with expected
outcomes. Although Ford got the credit for the assembly line, it was
likely the Diplomat who suggested it.
● Reliable – Diplomats believe there is dignity in labor, but more
importantly, their word is bond. They will ensure they are not
overpromising and will only commit themselves to what they very
well will accomplish.
● Loyal – The Diplomat values being the pillar of the community by
maintaining the status quo. Diplomats follow the rule which makes
them extremely trustworthy in any environment - little league coach,
family or professional clubs.
● Approachable – The Diplomat has a distinct care and appreciation
for others and their ultimate pursuit is to create a win-win society.
For this reason, they will work to understand others to ensure
everyone feels valued and unignored.
● Good at Connecting with Others – If there is one thing the
Diplomat is superb at its making a connection. The Diplomat will
engage in a variety of conversations just to feel like they belong.
Weaknesses
● Consumption with Status – The Diplomat often rejects their own
creative impulses for the fear of being unliked. They are possessed
with their desire to move up in social status and will attach
themselves to those who are above them.
● Overly Structured – The Diplomat appreciates watching basic
cable and getting their paper delivered everyday. Diplomats are
proponents of the status quo and are often harsh on those who appear
to be challenging the mainstream.
● Stale – The Diplomat is hypercritical of those who stand out. It was
likely the Diplomat who encouraged a dress code in societies. The
Diplomat will be reluctant to abandon their comfort zone because of

the fear of being judged. The irony in this is, the Diplomat is the
judger.
● Sensitive – The Diplomat desires showering words of
encouragement. They never learned to become rubber, and therefore
harsh words are like glue - they stick to the Diplomat. Feedback is
internalized as insults and can leave the Diplomat feeling harshly and
even unjustly criticized.
● Dependent – 2 positives and no negatives! The Diplomat’s ears
need the conformations of verbal appreciation. Gifts do not hurt
either. If they are not given early and often, they can go fishing for
them.
● Pushover – The Diplomat can often give too much of themselves to
others, even when the giving is not desired. This can make them
appear weak or unaware. The true harm is done to the Diplomat
because they will give their last, and receive nothing in return.

The Prodigy (IVSA)
The Prodigy STRENGTHS AND WEAKNESSES
Strengths
● Cheerful – The Prodigy type is rarely razzled and they are easy
going. Their calmness in social situations makes them good for
gametime decisions.
● Heuristic – Prodigies are practical and excellent creators. They have
the ability to marry creativity and innovation with tangible results.
● Relatable and Flexible – The Prodigy can, too, dance between the
abstract and logic. They are able to move seamlessly between
changing ideas and approaches.
● Centered – In a crisis situation, the Prodigy is the personality type
that is able to silence the noise and think logically. Their feathers
remained unruffled when others are frantic and unable to find the
answer. This ability can cause the Prodigy to seek out risky situations
just to test their adaptability and calmness.
Weaknesses
● Obstinate – The Prodigy can easily move along the continuum of
being easy going and stubborn. They will reject others direction
unapologetically.
● Straight to the Point – The Prodigy would rather skip the
formalities of small talk. The Prodigy will reject others attempts to
carry small talk. They are comfortable in silence.
● Self-Assured – If you have 3 seconds to make an impression on the
average person, for the Prodigy, you have 2! They are quite bright, but
what is understood, does not have to be re-explained.
● Unrestrained – The Prodigy is not bound by long-term
commitments, after all their attention span is 2 seconds.
Commitment is synonymous with the word oppression.
● Imprudent– An amalgamation of the Prodigy’s condensed attention
span, rejection of small talk and stubbornness causes them to see
thrills in all the wrong places, which can be extremely dangerous for
those surrounding and unaware.

The Daredevil (IVMA)
The Daredevil STRENGTHS AND WEAKNESSES
Strengths
● Charismatic– The Daredevil would score high on anyone’s
“likeable” scorecard. They are super charming and always have a
positive outlook on life.
● Motivational– The Daredevil takes empathy to the next level by
identifying and walking with their friends through periods of struggle.
By being this comfort they are able to reduce the stresses of those
around them.
● Analytical– The Daredevil is able to see through the actions of
people and identify their motivations and intentions. By doing this
they are able to create revolutionary products and ideas that are able
to appeal to the hearts of society.
● Intrigued– The Daredevil cannot create and walk away. They are
invested in the outcome of their ideas and how others respond to
their outputs. And therefore, the Daredevil is full of questions on how
to improve and make things better.
● Innovative– Naturally, because the Daredevil is able to connect with
people on a deeper, more emotional level, they are able to capture
those same people with their creations. This can range from designing
a house, garment of clothing or creating a powerpoint presentation -
The Daredevil is the creator who can connect products to customer
emotions.
Weaknesses
● Divergent – The Daredevil like other personality types needs the
freedom to express themselves without boundaries. Their personality
type will diametrically reject anything that stumps their creativity.
● Indecisive– The Daredevil with their freedom of expression, desires
the ability to come and go as they please. Commitment is a huge area
of concern for the Daredevil personality type, often making them a
challenge to date.

● Competitive – The Daredevil does not like to lose, and therefore will
not lose. They will reject the long-term gains for the short-term
success. “Forget the war, did you see me win the battle?!”
● Insecure– Although a fierce competitor, the Daredevil can begin to
doubt their talents if they are unnoticed. They are often the culprit of
the restrictions put on their creativity because of their subconscious
longing for acceptance.

The Mogul (EVSA)

The Mogul STRENGTHS AND WEAKNESSES
Strengths
● Risk Taker – The Mogul is the energizer bunny that continues
going. They are repeatedly testing their limits in order to discover
their depths and the potential of their ideas.
● Rational– The Mogul enjoys educating themselves in the subjects of
the abstract, such as philosophy and art, but only to equip themselves
with the knowledge to execute on their pursuits. Knowledge without
the dedication to act in superfluous.
● Ingenious– The Mogul is the innovator. They are able to convert
abstract ideas and knowledge into pragmatic, tangible deliverables.
Compounding the Moguls inclination to reject the norm with their
uncanny ability to notice antiquated things, makes them extremely
creative.
● Observant – The Mogul is what Andy Andrews would call the
Noticer. They are extremely perceptive and are able to develop a new
perspective based on even the smallest shifts in things.
● Straight Forward – The Mogul is typically a great communicator
because of their ability to cut through the fluff.
● Personable– Some people are thermometers, while others are the
thermostat. The Mogul sets the temperature of the room by
navigating effortlessly through crowds.
Weaknesses
● Apathetic– Although Moguls are great with crowds, they are terrible
with the “touchy” things, such as sharing or empathizing with others
feelings and emotions. The Mogul will often be insensitive and
dismissive to others problems, and say things like “suck it up” when a
friend is going through a hardship.
● Selfish - The Mogul will move at the beat of their own drum. They
are not prone to stop the bus in order to give someone more time to
decide to get on or understand why they are taking a bus, instead of,
say a car. To the Mogul if you do not understand something, ‘figure it
out or get left behind.’

● Unforeseeable– The Mogul has a tendency to try new ambitious
and extremely risky things without concern of the consequences.
● Capricious - Counter to being the life of the party, the Mogul can
often have fallouts with friends because of their whimsicalness.
Always longing for the next thrill and moving to their own beat can
leave others feeling ignored and underappreciated.
● Obstinate– The Mogul does not believe in boundaries, in work, in
personal relationships, in school or anywhere else. The Mogul enjoys
moving freely and strives to live life without redundancies or
inefficiencies.

The Artiste (EVMA)
The Artiste STRENGTHS AND WEAKNESSES
Strengths
● Intrepid- The Artiste is not faint at heart, nor does this personality
type allow fear to dictate their lives. The Artiste is an experience
junky, and they insist on abandoning the constructs of normality in
order to learn.
● Abstract– There are no bonds to the Artiste’s creativity. They are
constantly pushing the envelope with continual experimentation of
styles and thinking.
● Eloquently Spoken– The Artiste possess the swagger with the
vernacular to sound spectacular. Their words ring of poetic innuendo
which gives the impression they are always on air live.
● Fulfilled – Although the Artiste seems larger than life, they intend to
indulge in every moment of it through personal experience. This
longing for sensationalism allows them to live life to the fullest.
● Observant– While the Artiste is the life of the party, they are also
the savior. They are able to easily spot the slightest faint of emotional
distress in those surrounding them.
Weaknesses
● Volatile – The Artiste puts themselves in the center of attention,
however, they typically cannot take the scrutiny that attaches itself.
They are intensely emotional and highly reactive. The Artiste can
explode from pent up emotions when their needed areas of
improvement are brought up.
● Amicable– The Artiste avoids confrontation at all cost. They will
duck and weave verbal jabs better than Muhammad Ali.
● Risky Behavior– The Artiste is a thrill seeker and enjoys being
around high energy. When lacking this indulgence, the Artiste will
conjure their own fun, sometimes through risky behaviors.
● Closed Minded – The Artiste lives in the moment, and believes
tomorrow is too distant to try and predict and therefore the Artiste
takes things as they come. Rather than be the early bird to get the
worm, they are the the bird that may not show up.

● Inability to Focus – The Artiste will struggle with mundane,
repetitive tasks and subjects. It is difficult for the Artiste to focus in a
traditional classroom setting, such as Accounting.
