<h1>Hi there, <%= @recommendation.recruiter.name.split(' ').first %></h1>
<p>
  You have a new recommendation!,
  candidate: <%= @recommendation.candidate.name %>,

  <% if @recommendation.company %>
    Type: Company Recommendation
  <% else %>
    Type: Job Recommendation - <%= @recommendation.job_posting.title %>
  <% end %>
</p>
<p>
  View this recommendation here: <%= @url %>.
</p>
<p>Thanks and have a great day!</p>
