<div class="sub-menu navigation" id="secondaryFix">
  <ul>
    <% job_sub_links(current_user, @job_posting).each do |name, attributes| %>
      <li> <%= link_to name, attributes[0], class: attributes[1] %></li>
    <% end %>
  </ul>
</div>
<div class="container container-card no-overflow">

  <%= render 'form', job_posting: @job_posting %>
</div>

<%= link_to 'Show', job_posting_path(@job_posting) %> |
<%= link_to 'Back', job_postings_path %>
