<div class="sub-menu">
  <h3>New Job Posting</h3>
</div>
<div class="container container-card no-overflow">
  <%= render 'form', job_posting: @job_posting %>

  <%= link_to 'Back', job_postings_path %>
</div>
