.home-styles {
  .home-logo {
    display: table;
    margin: auto;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #333;
    display: table;
    margin: auto;
    margin-left: 0%;
    margin-bottom: 10px;
  }
  p, li {
    font-size: 15px;
  }

}
