
#primary_nav_wrap {
  height: 50px;
  background: white;
  border-bottom: solid rgba(0,0,0,.35) 1px;
  color: #333;
  position: fixed;
  width: 100%;
  height: 75px;
  top: -20px;
  z-index: 2;
  .dropdown-trigger, .right-avatar {
    cursor: pointer;
  }
}
#primary_nav_wrap ul {
	list-style:none;
	position:relative;
	margin:0;
	padding:0;
  width: 100%;
  top: 25px;
}

#primary_nav_wrap ul a {
	display:block;
	text-decoration:none;
  font-size: 14px;
  line-height: 26px;
  padding: 12px 15px;
  color: black;

}

#primary_nav_wrap ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0;
  &.active {
    border-bottom: solid $blue;
    position: relative;
    top: -4px;
    padding-bottom: 0px;
    a {
      position: relative;
      top: 5px;
    }
  }
  &.full-width {
    float: right;
    @media(max-width: 578px){
      display: none;
    }
    &.right-most{
      margin-right: 4%;
    }
  }
  &.mobile-width-links {
    display: none;
    @media(max-width: 578px){
      display: block;
      position: absolute;
      left: 0px;
      top: 2px;
    }
    i {
      font-size: 2em;
    }
  }

  &.right-avatar {
    float: right;
    @media(max-width: 578px){
      position: absolute;
      right: 0px;
      top: 2px;
    }
    .avatar-text{
      display: inline-block;
      position: relative;
      float: left;
      right: 8px;
      @media(max-width: 400px){ display: none; }
    }
    .avatar-image {
      display: inline-block;
      position: relative;
      top: -2px;
      height: 28px;
      width: 28px;
      background: $light-blue;
      position: relative;
      display: inline-block;
      float: right;
      border-radius: 14px;
      color: white;
      overflow: hidden;
      border: solid 1px $logo-black;
      .text {
        position: relative;
        left: 9px;
        top: 1px;
      }
      img {
        position: relative;
        top: -2px;
        left: -2px;
      }
    }
  }
  &.brand {
    float: left;
    @media(max-width: 578px){
      display: none;
    }

    img {
      width: 100px;
      position: relative;
      top: -5px;
    }
  }
  &.brand-mobile {
    display: none;
    @media(max-width: 578px){
      display: table;
      margin: auto;
      float: none;
    }
    img {
      width: 34px;
      position: relative;
      top: -7px;
    }
  }

}

#primary_nav_wrap ul li .sub a {
  color: $gray;
  font-size: 18px;
}

#primary_nav_wrap ul ul {
	display:none;
	position:absolute;
  opacity: .93;
  text-align: right;
  top: 123%;
  right: 0%;
  width: auto;
  background:#fff;
	padding:0 25px;
  z-index: 1;
  overflow: hidden;
  font-weight: bold;
  .divider {
    border-top: solid 2px $gray;
    width: 100%;
  }
  &.left-menu {
    text-align: left;
    top: 88%;
    left: 0%;
    width: 400%;
  }
}

#primary_nav_wrap ul ul li {
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a {
  line-height: 100%;
  padding: 15px 5px;
}

#primary_nav_wrap ul ul ul {
	top:0;
	left:100%
}

#primary_nav_wrap ul ul {
	display:none;
  &.on {
    display: block !important;
  }
}

.fixed-bottom {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
