.no-items {
  padding-top: 30px;
  h3 {
    border-bottom: dashed 2px;
    line-height: 43px;
  }
}
// toggle buttons
.vetted-unvetted-toggle {
  width: 50%;
  display: table;
  margin: auto;
  @media(max-width: 564px){
    width: 100%
  }

  ul {
    list-style: none;
    display: table;
    margin: auto;
    margin-bottom: 20px;
    li {
      display: inline-block;
      a {
        padding: 10px 25px;
        background: white;
        color: $light-blue;
        border-radius: 2px;
        -webkit-box-shadow: -1px 3px 8px rgba(0,0,0,.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    -1px 3px 8px rgba(0,0,0,.4);  /* Firefox 3.5 - 3.6 */
        box-shadow:         -1px 3px 8px rgba(0,0,0,.4);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
        &.middle {
          opacity: 0;
        }
        &.active {
          background: $light-blue;
          color: white;
          border-radius: 2px;

        }
      }
    }
  }
}
// page content
.rec-row {
  padding: 30px 15px;
  padding-right: 0px;
  &.deny{
    background-color: $lightest-red;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
  }
  &.accept{
    background-color: $lightest-green;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
  }
  i {
    cursor: pointer;
  }
  .info-modal {
    cursor: pointer;
  }
  .check.circle {
    color: $green;
    &:hover {
      color: $light-green;
    }
  }
  .remove.circle {
    color: $red;
    &:hover {
      color: $light-red;
    }
  }
  .score-circle {
    border: solid $green 4px;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    position: relative;
    top: 10px;
    span {
      display: table;
      margin: auto;
      position: relative;
      top: 4px;
      color: $green;
      font-size: 18px;
      font-weight: bold;
    }
  }
  .match-items{
    border: solid 1px;
    border-radius: 4px;
    padding: 2px 5px;
    margin-right: 1px;
    margin-bottom: 3px;
    display: inline-block;
    color: $yellow;
  }

  .left-photo {
    display:  inline-block;
    width: auto;
    margin-right: 3%;
    @media(max-width: 500px){
      width: 30%;
    }
    .circle-photo {
      position: relative;
      display: inline-block;
      width: 120px;
      height: 120px;
      border-radius: 60px;
      overflow: hidden;
      top: 10px;
      background: $light-blue;
      .text {
        color: white;
        display: table;
        margin: auto;
        position: relative;
        top: 24px;
        font-size: 48px;
      }
      @media(max-width: 500px){
        top: -12px;
      }
      img {
        width: 120px;
      }
    }
    .mobile-actions {
      display: none;
      position: relative;
      top: 5px;
      margin-left: 18px;
      &.single {
        margin-left: 41px;
        i {
          font-size: 2.4em;
          line-height: 0;
        }
        @media(max-width: 500px){
          display: block;

        }
      }
      i {
        font-size: 2.4em;
        line-height: 0;
      }
      @media(max-width: 500px){
        display: block;

      }
    }

  }
  .middle-info {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    padding-top: 12px;
    @media(max-width: 500px){
      padding-top: 0px;
    }
    @media(max-width: 380px){
      position: relative;
      left: 10px
    }
    h3 {
      display: block;
      text-align: left;
      margin-bottom: 5px;
    }
    h4 {
      color: $grey;
      margin-top: 0px;
    }
  }

  .recommendation-actions {
    display: inline-block;
    width: 10%;
    &.single {
      position: relative;
      top: -29px;
    }
    @media(max-width: 500px){
      display: none;
    }

    i {
      font-size: 3em;
      position: relative;
      display: table;
      margin: auto;
      line-height: 1.3em;
      bottom: 2px;
    }
  }

  ////////// warning: mad design science below ///////////////
  &.double-circle {
    padding: 30px 10%;
    h3,h4,p {
      width: 100%;
    }
    h3 {
      margin: 0px;
      @media(max-width: 500px){
        font-size: 18px;
      }
    }

    .left-section {
      width: 40%;
      &.connection {
        width: 49%;
      }
      display: inline-block;
      height: 120px;

      @media(max-width: 480px){
        height: 100px;
      }


      .match-line {
        border-bottom: solid $light-blue 3px;
        width: 100%;
        position: relative;
        bottom: 63px;
        @media(max-width: 480px){
          bottom: 54px;
        }

      }

      i.circle {
        display: table;
        width: auto;
        position: relative;
        bottom: 92px;
        left: 95%;
        z-index: 2 !important;
        font-size: 2.8em;
        @media(max-width: 480px){
          bottom: 83px;
        }


      }
      .phantom-background {
        display: table;
        width: 33px;
        position: relative;
        bottom: 131px;
        background: white;
        left: 97%;
        height: 19px;
        @media(max-width: 480px){
          left: 99%;
          bottom: 120px;
        }
      }

      .phantom-background-middle {
        display: table;
        width: 33px;
        position: relative;
        bottom: 72px;
        background: white;
        left: 97%;
        height: 19px;
        z-index: 2;
      }
      i.mail {
        display: table;
        width: auto;
        position: relative;
        bottom: 113px;
        left: 95%;
        z-index: 2 !important;
        font-size: 2.8em;
        @media(max-width: 480px){
          bottom: 104px;
        }
      }


    }
    .right-section {
      width: 40%;
      &.connection {
        width: 49%;
      }

      display: inline-block;
      position: relative;
      top: 5px;
      padding-bottom: 12px;
      @media(max-width: 480px){
        top: 2px;
      }
      .match-line {
        border-bottom: solid $light-blue 3px;
        width: 100%;
        position: relative;
        top: 48px;
        @media(max-width: 480px){
          top: 40px;
        }

      }

      i {
        display: table;
        width: auto;
        position: relative;
        top: 19px;
        left: -5%;
        z-index: 2 !important;
        font-size: 2.8em;
        @media(max-width: 480px){
          top: 12px;
          left: -12%;
        }

      }
      .phantom-background {
        display: table;
        width: 33px;
        position: relative;
        top: -19px;
        left: -6%;
        background: white;
        height: 20px;
        @media(max-width: 480px){
          top: -26px;
          left: -16%;
        }

      }

    }

    .middle-spacer  {
      display: inline-block;
      width: 17%;
      background: transparent;
      .score-circle-middle {
        display: table;
        margin: auto;
        position: relative;
        bottom: 91px;
        margin-left: 38%;
        border: solid #5EB319 4px;
        width: 35px;
        height: 35px;
        border-radius: 35px;
        @media(max-width: 480px){
          bottom: 85px;
        }
        span {
          display: table;
          margin: auto;
          position: relative;
          top: 1px;
          color: $green;
          font-size: 18px;
          font-weight: bold;
        }

      }
    }
    .left-section-bottom {
      width: 49%;
      display: inline-block;
      vertical-align: top;
      h3, h4, p{
        text-align: left;
      }

    }
    .right-section-bottom {
      width: 49%;
      display: inline-block;
      position: relative;
      vertical-align: top;
      h3, h4, p{
        text-align: right;
      }
    }

    .two-circle-photo {
      position: relative;
      display: inline-block;
      width: 120px;
      height: 120px;
      border-radius: 60px;
      overflow: hidden;
      background: $light-blue;
      z-index: 2 !important;
      @media(max-width: 480px){
        width: 100px;
        height: 100px;
      }
      &.smaller {
        width: 100px;
        height: 100px;
        float: right;
        @media(max-width: 480px){
          width: 80px;
          height: 80px;
        }
        img {
          width: 100px;
          @media(max-width: 480px){
            width: 80px;
          }
        }
      }
      .text {
        color: white;
        display: table;
        margin: auto;
        position: relative;
        top: 24px;
        font-size: 48px;
      }
      img {
        width: 120px;
        @media(max-width: 480px){
          width: 100px;
        }
      }
    }


  }
}
