<nav id="primary_nav_wrap">
  <ul>
    <li class="brand"> <%= link_to "unBoxt", root_path %></li>
    <li class="right-avatar"><a href="">
      <%= current_user.try(:name) %>
      <!-- TODO-designer: see this card:  -->
    </a>
      <ul>
        <%= render 'layouts/profile_links' %>
      </ul>
    </li>
    <%= render partial: 'layouts/quicklinks' %>
    <!-- <li><a href="#">Menu 4</a></li>
    <li><a href="#">Menu 5</a></li>
    <li><a href="#">Menu 6</a></li>
    <li><a href="#">Contact Us</a></li> -->
  </ul>
</nav>
